html{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    margin: 0;
}
/* navigation bar */
#nav-bar{
    width: 100%;
    min-height: 70px;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    background-color: #ffffffee;
    border-bottom: 2px solid #0099ff;
}
header{
    width: 62vw;
}
#logo{
    width: 300px;
}
.links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 34vw;
    padding-left: 0;
}
.links li{
    list-style: none;
}
.link a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.link a:hover{
    color: #555;
}
/* web page design */
.page{
    margin-top: 75px;
}
/* form customization */
#descriptions{
    background-color: #0099ff;
}
.form{
    text-align: center;
    padding-top: 5vw ;
}
h1{
    font-size: 3rem;
}
.form-email{
    padding: 4rem 0;
}
input[type="email"]{
    border-color: black;
    margin: 0 20px;
    width: 20rem;
}
input[type="email"], input[type="submit"]{
    font-size: 1rem;
    padding: 13px 5px;
    border-radius: 25px;
}
input[type="submit"]{
    border: none;
    background-color: #0099ff;
    color: white;
    font-weight: bold;
    margin: 0 20px;
    width: 10rem;
}
/* features css */
svg{
    margin: -1em 0;
}
.description{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2rem 0 ;
}
.description i{
    padding-right: 3.5vw;
}
.desc-text{
    width: 65vw;
}
.desc-text h3{
    font-size: 1.8rem;
    margin: 0;
}
.desc-text p{
    font-size: 1.1rem;
    line-height: 1.6rem;
}